<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal">Practice 6</p>
        <nav class="my-2 my-md-0 me-md-3 ml-5">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/add_building">Добавить Buildings</a>
            <a class="p-2 text-dark" href="/pring_all_buildings">Вывести все Buildings</a>
            <a class="p-2 text-dark" href="/search_building_by_city">Поиск Buildings по City</a>
            <a class="p-2 text-dark" href="/remove_building">Удаление Buildings по имени</a>
        </nav>
    </header>

    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  mb-3 bg-white border-bottom shadow-sm">
        <nav class="my-2 my-md-0 me-md-3 ml-15 pl-15">
            <a class="p-2 text-dark" href="/add_house">Добавить House</a>
            <a class="p-2 text-dark" href="/pring_all_houses">Вывести все House</a>
            <a class="p-2 text-dark" href="/add_home">Добавить Home</a>
            <a class="p-2 text-dark" href="/pring_all_homes">Вывести все Home</a>
            <a class="p-2 text-dark" href="/update_home">Изменить Home</a>
        </nav>
    </header>
</div>